.manager {
  position: absolute;
  width: 75%;
  max-height: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.manager_header {
  background-color: var(--blue);
  color: white;
  padding: 1em;
  text-align: center;
  font-size: 20;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.manager_body {
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  flex-shrink: inherit;
  max-height: 100%;
  overflow-y: auto;
  justify-content: center;
  padding: 10px;
  background-color: var(--white);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--midgray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darkgray);
}

.card {
  width: 24%;
  margin: 5px;
  background-color: var(--midgray);
  border-radius: 10px;
}

.card-header {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  color: white;
  background-color: var(--blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 10px;
  color: white;
}

.card-footer {
  display: flex;
  flex-wrap: nowrap;
}

.card_button {
  width: 50%;
  margin: 5px;
  height: 35px;
  border-radius: 5px;
  border-style: none;
}
.card_button:focus {
  outline: none;
}

.card_delete {
  background-color: var(--darkgray);
}
.card_delete:hover {
  background-color: var(--lightgray)
}

.card_select {
  background-color: var(--blue);
}
.card_select:hover {
  background-color: var(--lightblue)
}

.card-icon {
  color: white;
}

.new-character {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  background-color: var(--midgray);
}

.new-character:hover {
  background-color: var(--lightgray);
}

.new-character:focus {
  outline: none;
}